@font-face {
  font-family: "gol";
  src: url("./Font/demo.otf") format("opentype");
}
#hero {
  padding: 8px 32px;
  display: flex;
  font-family: cursive;
}
#hero .left {
  padding: 12px;
}
#hero .left .smalleTitle {
  color: purple;
  font-size: 32px;
}
#hero .left .bigTitle {
  color: rgb(0, 0, 0);
  font-size: 100px;
  font-family: "gol";
}
#hero .left .bigTitle span {
  color: purple;
}
#hero .left p {
  color: rgb(103, 103, 103);
  font-size: 22px;
}
#hero .left button {
  padding: 18px 34px;
  border: none;
  border-radius: 26px;
  background-color: purple;
  color: white;
}
#hero .right {
  margin-left: 242px;
}
#hero .right .bigImg {
  filter: drop-shadow(0 0 0.95rem #800080);
}
#hero .right .miniImgs {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 500px;
}
#hero .right .img-container {
  border: 1px solid rgb(0, 0, 0);
  margin: 0 8px;
  cursor: pointer;
  border-radius: 8px;
  background: #c200c263;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 162px;
}

#hero .right .miniImgs .img-container:hover {
  box-shadow: 23px 23px 46px #880088, -1px -1px 10px #fc00fc;
  transition: 1s all ease;
  transform: scale(0.8);
}

#hero .price-container {
  display: flex;
  flex-direction: column;
  margin: 23px 0;
}
#hero .left > .price-container > input {
  width: 430px;
  height: 32px;
}
