body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.155) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: rgba(128, 0, 128, 0.457);
}
nav .search-container {
  display: flex;
  margin: 0 12px;
}

nav .navbarBox {
  display: flex;
  flex-direction: row;
}
nav .item {
  list-style: none;
  font-size: 18px;
  margin: 0 38px;
  color: rgb(255, 255, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: purple;
  cursor: pointer;
}
input {
  outline: none;
  border: 1px solid purple;
  border-radius: 4px;
  padding-left: 5px;
}
